# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
playGround/HRobot_Json3D/application.windows64
playGround/HRobot_Json3D/application.windows32
*.autosave
*.m4v
.idea
sftp-config.json
node_modules
playGround/HRobot_Json3D/application.macosx64
playGround/RobotMovieGen/application.macosx
playGround/RobotMovieGen/application.macosx64
.vscode
